/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #DEF2F1;
  color: salmon;
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-style: italic;
  color: #026670;
}

.hidden {
  display: none;
}

button {
  padding: 12px;
  border-radius: 15px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
  border-radius: 35px;
}

#button1 {
  background: #FFCCEE;
}

#button2 {
  background: #FEF9C7;
}

#button3 {
  background: #CCFFDD;
}

#button4 {
  background: #CCEEFF;
}

#button1:active, #button1.lit {
  background: hotpink;
}

#button2:active, #button2.lit {
  background: yellow;
}

#button3:active, #button3.lit {
  background: lightgreen;
}

#button4:active, #button4.lit {
  background: deepskyblue;
}
